[Unit]
Description=gpio-server

[Service]
ExecStart=/home/pi/Projects/pi-gpio/pi-gpio-server/target/release/pi-gpio-server
WorkingDirectory=/home/pi/Projects/pi-gpio/pi-gpio-server/target/release/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=network-online.target
